
nav {
    text-align: center;
}

section {
    display: flex;
}

div#left {
    flex: 1 10%;
}

div#center {
    flex: 2 80%;
}

div#right {
    flex: 1 10%;
}

table#parameters {
    border-collapse: collapse;
}

table#parameters td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 0.8ex;
}