
nav {
    text-align: center;
    background-color: ghostwhite;
    margin: 0 auto;
    width: 80%;
}

body {
    background-image: url("lublinbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
}

div#left {
    flex: 1 10%;
}

div#center {
    flex: 2 80%;
    background-color: ghostwhite;
}

div#right {
    flex: 1 10%;
}

.tableText {
    margin-left:5%;
}

table#parameters, table#results {
    border-collapse: collapse;
    margin-left: 5%;
}

table#results {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

table#results td {
    padding: 0.8ex;
}

table#parameters td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 0.8ex;
}